.footer {
    display: flex;
    max-width: 880px;
  padding-top: 67px;
  padding-bottom: 60px;
  margin: auto;
}
.footer__copyright {
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
color:#545454;
}
@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    max-width: 320px;
  padding-top: 50px;
  padding-bottom: 36px;
}
  .footer__copyright {
    font-size: 14px;
  }
}