.profile {
display: grid;
grid-template-columns: 120px 373px 24px 150px;
max-width: 880px;
padding-top: 40px;
padding-bottom: 50px;
margin: auto;
}
.profile__avatar {
width: 120px;
height: 120px;
border-radius: 50%;
}
.profile__info {
    padding-left: 30px;
}
.profile__name {
font-family: Inter;
font-size: 42px;
font-weight: 500;
color: #fff;
line-height: 0px;
}

.profile__job {
font-family: Inter;
font-size: 18px;
font-weight: 400;
color: #fff;
line-height: 0px;
}
.profile__edit-button {
    padding-top: 15px;
    padding-left: 30px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}
.profile__add-button {
    padding-top: 13px;
    padding-left: 165px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 320px) {
    .profile  {
       justify-content: center;
    grid-template-rows: 120px 50px 50px;
    row-gap: 30px;
    grid-template-columns: 196px 18px;
    column-gap: 10px;
    


    }
    .profile__avatar {
grid-column-start: 1;
grid-column-end: 3;
margin: auto;
    }
    .profile__info {
        padding-left: 0;
    }
    .profile__name {
        font-size: 22px; 
        padding-left: 0;

    }
    .profile__job {
        font-size: 14px;
        padding-left: 0;
  
    }
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 0;
        padding: 0;
    }
    .profile__add-button {
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 36px;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
       
    }
}